<div class="row">
  <div class="co-md-12">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">Id</div>
        <div class="col-md-6"><%= @collection.id %></div>

        <div class="col-md-6">Title</div>
        <div class="col-md-6"><%= @collection.title %></div>

      </div>
    </div>
  </div>
</div>
